.Rproj.user
.Rhistory
.RData
.Ruserdata
data/Consensus_data/Novogene_lane2/
data/Consensus_data/Novogene_lane3/
data/Consensus_data/Novogene_lane4/
data/Consensus_data/Novogene_lane5/
data/Consensus_data/Novogene_lane6/
data/Consensus_data/sscs_dcs_comparisons/
data/Consensus_data/archive/
data/Consensus_data/Novogene_lane7/
data/Consensus_data/Ranomics_Pooled/
data/Consensus_data/Novogene_lane15/sample_4/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_data/Novogene_lane15/sample_3/ngs/sample3_sorted_filtered.tsv.gz
data/Consensus_data/Novogene_lane15/sample_3/ngs/sample3_sorted_filtered.tsv
data/Consensus_Data/novogene_lane15/sample_3/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane15/sample_5/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane15/sample_6/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane15/**/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane15/**/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/Novogene_lane16a/**/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane15/sample_5/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane17/sample6/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane17/sample7/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane17b/Sample1/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane17b/Sample2/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane17/**/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane27b/**/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane28/**/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane29c/ABL/**/l298l/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane29c/ABL/**/nol298l/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane28c/**/sscs/sscs_sorted_filtered.tsv.gz
data/Consensus_Data/novogene_lane28c_old2/**/sscs/sscs_sorted_filtered.tsv.gz

